@import './tailwind.css';
@import './theme.css';

html, body {
  overflow-x: hidden;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}